<html>
  <head>
    <style>
      .footer{ background: black; color: white; width: 100% } p{ font-weight:
      bold; font-family: Arial, Helvetica, sans-serif; text-align: center;
      padding: 30px 40px; font-size: 20px; }
    </style>
  </head>
  <footer>
    <!-- Footer Slider -->
    <div class=" footer">
      <p>Copyright &copy; 2022 Designed By
        <span style="color: blue;"> Mr. Pratap Thakur. </span>
        All Rights Reserved.
      </p>
    </div>

  </footer>

</html>