<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Change Password</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style1.css">
    <style>
        label{
            color: white;
        }
    </style>
</head>

<body class="loginbody">
    {{> header}}
    {{!-- alert messages --}}
    {{!-- error alert message --}}
        {{#if errMsg}}
        <div class="alert alert-danger">
            <p>{{errMsg}}</p>
        </div>
        {{/if}}
    {{!-- success alert message --}}
        {{#if succMsg}}
        <div class="alert alert-success">
            <p>{{succMsg}}</p>
        </div>
        {{/if}}

        {{!-- Change Password form --}}
        <form method="post" action="/user/postChangePassword" class="form">
        <div class="title">Create a new password</div>
        <div class="subtitle">Remember password must be strong</div>
            <div class="input-container ic2">
                <label>Enter Email:</label>
                <input type="email" class="input" name="email">
            </div>
            <div class="input-container ic2">
                <label>Enter New Password:</label>
                <input type="password" class="input" name="pass1">
            </div>
            <div class="input-container ic2">
                <label>Confirm Password:</label>
                <input type="password" class="input" name="pass2">
            </div>            

            {{!-- submit button --}}
            <input type="submit" class="submit"><br>
        </form>
    </div>
</body>

</html>