<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style1.css">
    <title>Assignment 5</title>
    <style>
        h2,h1{
            color: #FFCC00;
        }
    </style>
</head>
<body>
    {{> header}}
    <div class="mainbody">

        <div class="container text-white text-center headerset">
            <h2>Welcome To NeoSOFT Portal</h2>
            <h1>IT'S NICE TO MEET YOU</h1>
            <a class="btn btn-warning text-white btn-lg" href="/user/login">LOGIN</a>
        </div>
    </div>

    {{> footer}}
</body>
</html>

